<div class="flex">
  <mat-card class="card" *ngFor="let f of forfaits" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{f.nom}} </mat-card-title>
        <mat-card-subtitle>{{f.etablissement}}</mat-card-subtitle>
        <mat-card-subtitle>{{f.date_debut }}</mat-card-subtitle>
        <mat-card-subtitle>{{f.date_fin}}</mat-card-subtitle>
        <img mat-card-image src="\src\app\img\hotel1.jpg" alt="{{f.site_web }}">
      </mat-card-header>
      <mat-card-actions>
        <mat-card-subtitle><del>${{f.prix }} </del></mat-card-subtitle>
        <mat-card-subtitle>Nouveau prix:  $ {{f.nouveau_prix }}</mat-card-subtitle>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-card>
      <div class="premium">
      <span class="avertissement" *ngIf="f.nouveau_prix >=1 && f.nouveau_prix < f.prix"><mat-card-subtitle>Forfaits Premium!</mat-card-subtitle></span>
      <span class="alerte" *ngIf="f.nouveau_prix === f.prix">
        <div [ngStyle]="{'background-color': f.nouveau_prix }">$ {{f.nouveau_prix}}<br>
          <a href="#">Offre expirée</a>
    </div>
     </span>
    </div>
    </mat-card>
  </mat-card>
  </div>